
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.menu-cont{
  position:fixed;
  background-color: #462255;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 16px 16px;

  top: 0;
  width: 100%;
  z-index: 9999;
  transition: opacity 0.5s;
  opacity: 1;
}

.trozo-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menuToggle, .menu-icon{
  display: none;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  transition: transform 0.25s;

}

.listalogos{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 16px;
}

.menu-cont .logo:hover img{
  transform: scale(1.1);
}

.menu-cont .logo:hover h3{
  transform: scale(1.1);
}
.menu-cont .logo{
  width: 256px;
  transition: .5s;
}

.menu-cont .volver{
  background-color: rgb(160,160,160);
  padding: 5px 8px;
  border: none;
  border-radius: 8x;
  color: orange;
  text-decoration: none;
  transition: .5s;
}
.menu-cont .volver:hover{
  color: rgb(160,160,160);
  background-color: orange;
}








body {
  font-family: Arial, sans-serif;
  background-color: #ddfff7;

  
}



.super-container{
  display: flex;
  justify-content: center;
  padding: 256px 0 0 0;
}

.form-container {
    background: #93E1D8;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #AA4465;
    outline: none;
}

.error-message {
    color: #D8000C;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

button .form-button {
    background: #AA4465;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #0056b3;
}


h3{
    font-size: 2em;
    text-align: center;
}





.megacontainer{
  display: flex;
  justify-content: center;
  padding: 64px;
}

.carousel-container {
  position: relative;
  width: 80%;
  max-width: 384px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 32px 0px;
}

.carousel-image {
  min-width: 100%;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}




.noticias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 128px;

}

.noticia-vip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 32px;
}

.noticias-grupo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 32px;
}

.noticia-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;

}

.imagen-portada{
  flex: 1;
  max-width: 768px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagen-portada img{
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
  border-radius: 8px;
}

.imagen-sec{
  flex: 1;
  max-width: 384px;
}

.imagen-sec img{
  width: 100%;            
  height: 100%;           
  object-fit: cover;      
  border-radius: 8px;
}

